<%-include('./layouts/header')%>
<%-include('./layouts/navbar')%>
<h3>Login User!</h3>

<div>
    <form method="POST" action="/authenticate">
        <div>
            <label>Username:</label>
            <input type="text" name="username" placeholder="Enter username">
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter password">
        </div>
        <input type="submit" value="Login">
    </form>

</div>

<%-include('./layouts/footer')%>